.post-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 2;
  margin: 10px;
}

.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  font-size: 14px;
}

.comments {
  margin-top: 20px;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment .profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment .username {
  font-size: 12px;
}

.comment p {
  font-size: 14px;
}
